/* TRANSITION */
.transitionStackPane{
    -fx-background-color: #fef3df;
}


/*INIT WINDOW*/

.innitAnchorPane{
    -fx-background-color:#fef3df;
}

/*boton de login*/

.loginButton{
    -fx-text-fill:white;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-background-color: #663a99;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}


/*boton de registro*/

.registerButton{
    -fx-text-fill:white;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-background-color: #017f76;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

/*ComboBox*/
.languageComboBox .combo-box-base {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.languageComboBox {
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-padding: 0;
    -fx-alignment: center;
}

.languageComboBox .arrow-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-pref-width: 0;
}

.languageComboBox .arrow-button .arrow {
    -fx-shape: "";
}

.languageComboBox .list-cell {
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-text-fill: transparent; 
}

/*LOGIN WINDOW*/

/*Anchorpane*/
.loginAnchorPane{
    -fx-background-color:#fef3df;
}

.acceptLoginButton{
    -fx-text-fill:white;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-background-color: #ebb106;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

.exitButton{
    -fx-text-fill:white;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-background-color: #ebb106;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

/*REGISTER WINDOW*/

.registerAnchorPane{
    -fx-background-color: #fef3df;
    
}

.nicknameRegisterPane{
    -fx-background-color: grey;
    -fx-border-radius: 15;
    -fx-background-radius:15;
}
.passwordRegisterPane{
    -fx-background-color: #ebb106;
    -fx-border-radius: 15;
    -fx-background-radius:15;
}

.emailRegisterPane{
    -fx-background-color: #017f76;
    -fx-border-radius: 15;
    -fx-background-radius:15;
}

.registerUserButton{
    -fx-border-radius: 15;
    -fx-background-radius:15;
    -fx-background-color: white;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    
}

.exitButton{
    -fx-text-fill:white;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-background-color: #663a99;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}



/*USERDATA*/

.userDataAnchorPane{
    -fx-background-color: #fef3df;
}


.userDataButtonPane{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-background-color: rgb(170, 170, 170);
    -fx-border-radius:10px;
    -fx-background-radius:10px;
}

.playButton{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: #ebb106;
}

.userdataPane{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
}

.changeImageButton{
    -fx-border-radius:100%;
    -fx-background-radius:100%;
    -fx-border-width:2;
    -fx-border-color:#000000;
}

.logoutButton{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: #663a99;
}

.updateButton{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: #017f76;
}


/*UPDATE*/


.updateAnchorPane{
    -fx-background-color: #fef3df;
}

.updateButton{
    -fx-border-color:white;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: transparent;
}

.deleteUserButton{
    -fx-border-color:white;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color: transparent;
}


/*GAME*/

.gameAnchorPane{
    -fx-background-color: #fef3df;
}

.dataPane{
    -fx-background-color: #663a99;
    -fx-border-color: rgb(255, 251, 251);
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 2);
}

.grindPane{
    -fx-border-color:#000000;
    -fx-border-width:2;
    -fx-background-color: rgb(253, 253, 253);
}

.respuesta-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black; /* Opcional */
}


/*DELETE*/

.deleteAnchorPane{
    -fx-background-color: #fef3df;
}



.deletePane{
    -fx-background-color: #017f76;
    -fx-border-radius: 15;
    -fx-background-radius:15;
    -fx-border-color:#ebb106;
    -fx-border-width: 4px;
}



/*RECOVER*/

.deleteAnchorPane{
    -fx-background-color: #fef3df;
}

.recoverAPane{
    -fx-background-color: #663a99;
    -fx-border-radius: 15;
    -fx-background-radius:15;
}